*{
    margin: 0;
    padding: 0;
    background-color: #0078FF;
    color: white;
    font-family: Oxanium, Helvetica, sans-serif;
}

.flexContainer{
    display: flex;
    flex-direction: column;
}

/* Header Styling*/

.list{
    text-align: right;
    position: absolute;
    right: .75vh;
    top: .75vh;
}

li{
    display: inline;
    font-weight: 500;
    font-size: 4vh;
    padding-right: .5vh;
}

.logo{
    padding-left: 2vh;
    height: 25vh;
}

h1{
    text-align: center;
    font-weight: 600;
    font-size: 10vh;
    letter-spacing: 0.245em;
}

/* Logo Design */

.logoImages{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoImages img{
    height: 30vh;
}

.logoText{
    text-align: center;
    font-weight: 600;
    font-size: 5vh;
    letter-spacing: 0.245em;
    padding: 20vh;
}

.logoCaption{
    text-align: center;
    padding-top: 5vh;
    font-weight: 600;
    font-size: 2vh;
    letter-spacing: 0.245em;
}

/* Label Design */

.labelImages{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.labelImages img{
    height: 80vh;
}

.labelDesign img{
    height: 80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.labelCaption{
    text-align: center;
    padding-top: 5vh;
    font-weight: 600;
    font-size: 3vh;
    letter-spacing: 0.245em;
    padding-bottom: 15vh;
}

.labelDesign p{
    text-align: center;
    padding-top: 5vh;
    font-weight: 600;
    font-size: 3vh;
    letter-spacing: 0.245em;
}

/* Product Design */

.productDesign img{
    height: 80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.productDesign p{
    text-align: center;
    padding-top: 5vh;
    font-weight: 600;
    font-size: 3vh;
    letter-spacing: 0.245em;
}